div.components--reset-password__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 540px;

  div.disclaimer {
    color: $color-grey-primary;
    font-size: 0.8rem;
  }
}
