div.components--login-form__container {
  display: flex;
  flex-direction: column;

  width: 540px;

  form {
    margin-block-end: 2rem;

    div[class*="input"] {
      margin-block-end: 1rem;

      input {
        outline: 0;
        border-radius: 4px;
        border: 1px solid $color-grey-primary;
        font-size: 0.8rem;
        padding: 5px;
        width: 100%;
      }
    }

    div.invalid-email-notice {
      font-size: 0.8rem;
      color: $color-red-primary;
    }

    div.password-input {
      div.label {
        display: flex;
        justify-content: space-between;

        a {
          color: $color-lightblue-primary;
        }
      }

      span.forgot-password {
        color: $color-lightblue-primary;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
      }

      div.input-container {
        position: relative;

        svg {
          position: absolute;
          right: 10px;
          top: 2px;
        }
      }
    }
  }
}

div.components--disclaimer__container {
  margin-block-end: 2rem;
  max-width: 540px;
}

div.components--disclaimer__container,
div.components--sign-up-call__container {
  color: $color-grey-primary;
  font-size: 0.8rem;

  span.link-mock {
    cursor: pointer;
    color: $color-lightblue-primary;
  }
}
