main.pages--forgot-paswoord {
  div.Card-module_card__LzN-3 {
    position: relative;

    a.back-to-login {
      position: absolute;
      bottom: -50px;
      left: 50%;

      color: $color-lightblue-primary;
      font-size: 0.9rem;
      transform: translateX(-50%);

      &::before {
        content: "←";
        margin-inline-end: 5px;
      }
    }
  }
}
