$color-black-primary: #231f1f;
$color-blue-primary: #5554c5;
$color-lightblue-primary: #119da6;
$color-yellow-primary: #f3df6d;
$color-grey-primary: #a7adad;
$color-red-primary: #da4c4c;
$color-beige-primary: #d7d2c4;
