$font-path: "../../assets/typography";

@font-face {
  font-family: Eina02;
  src: url(#{$font-path}/eina02/eina02.ttf);
}


@font-face {
  font-family: Inter;
  src: url(#{$font-path}/inter/inter.ttf);
}


@font-face {
  font-family: Sfprotext;
  src: url(#{$font-path}/sfprotext/sfprotext.ttf);
}